@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=Source+Code+Pro:wght@400;700&family=Roboto:wght@400;500;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

$font-plex: 'IBM Plex Sans', sans-serif;
$font-code: 'Source Code Pro', monospace; // Adjust as needed
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-orbitron: 'Orbitron', sans-serif;

$color-primary:         #1B263B;  /* Deep blue */
$color-secondary:       #4B586E;  /* Light blue */
$color-background:      #f1f1f1;  /* Light grey */
$color-holo-contrast:   #003366;  /* Deep Navy Blue */
$color-contrast:        #FFAA00;  /* Warm yellow/orange */
$color-highlight:       #FF6F20;  /* Warm orange */
$color-text-contrast:   #C0392B;  /* Deep warm red */
$color-text:            #333;     /* Dark grey for text */
$color-details:         #1E90FF;  /* Dodger blue */
$color-steel:           #4682B4;  /* Steel blue */
$color-hologram:        #00FFFF;  /* Pure Cyan */
$color-electric:        #7DF9FF;  /* Electric blue */
$flash-white:           #FFFFFF;  /* Flash white */


$circular-card-size:   9rem;
$circular-badge-size:  6rem;

/* Renamed the function to avoid conflict */
@function rgba-color($color, $alpha) {
    @return rgba(color.channel($color, "red", $space: rgb),
                 color.channel($color, "green", $space: rgb),
                 color.channel($color, "blue", $space: rgb),
                 $alpha);
}

h1 {
    font-family: $font-raleway;
    font-weight: 700; // Bold for headings
}

h2, h3 {
    font-family: $font-roboto;
    font-weight: 500; // Semi-bold for subheadings
}

h4, h5, h6 {
    font-family: $font-roboto;
    font-weight: 400; // Regular for low-level subheadings 
}

p, li {
    font-family: $font-plex;
    font-weight: 400; // Regular for body text
}

code, pre {
    font-family: $font-code;
    font-weight: 400; // Regular for code snippets
    background-color: #f5f5f5; // background for code
    padding: 4px 8px; // padding for code
    border-radius: 4px; // rounded corners
}

:root { background-attachment: fixed; }

body {
    font-family: $font-plex;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: $color-text;
    background-color: $color-primary;
    background: url('../images/GEM-background.webp') no-repeat center center fixed; /* Fixed background */
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

html, body {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 1.25rem;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.container {
    background-color:  rgba-color($color-background, 0);
}

.flex-item {
    flex-grow: 1;
    margin-bottom: 1.25rem; 
    width: auto;
    max-width: 100%;
}

.flex-item:last-child {
    margin-bottom: 0.5rem; 
}

/* Header Styles */
.header {
    background-color: rgba-color($color-primary, .7); /* Deep blue for header */
    color: $color-contrast;
    padding: 20px 0;
    text-align: center;
    .header.item {
        font-size: 2rem; /* Custom font size for the title */
        font-weight: bold;
    }

    .item {
        color: greenyellow; /* Ensures links are white */
        padding: 15px; /* Custom padding for menu items */
    }
}

.header .metaltext {
    font-size: 2rem;
    font-weight: bold;
}

/* Hero Section Styles */
.hero {
    padding: 50px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 1); /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.hero-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Button Styles */
.ui.button {
    background-color: rgba-color($color-primary, 1);
    color: white;
    border-radius: 5px;
}

.ui.button:hover {
    background-color: rgba-color($color-secondary, 0.8);
}

/* Section Styles */
.section {
    padding: 40px 20px;
    background: rgba-color($color-background, 0.6);
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 20px;
}

.ui.card {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text within the card */
    margin: 1rem; /* Breathing space around cards */
}

.ui .cards {
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.ui.card :hover {
    border-color: $color-electric;
}

.ui.card .circular-card {
    width: $circular-card-size; /* Set the desired size */
    height: $circular-card-size; /* Set the desired size */
    overflow: hidden; /* Hide overflow */
    display: flex; /* Center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    transition: box-shadow 0.3s ease; /* Animate shadow on hover */
    margin: 1rem; /* Breathing space around cards */
    flex-direction: column;
    background-color: #4B586E;
    border-radius: 50% !important; /* Ensures the circular shape is applied */

    a {
        display: block; /* Make the anchor cover its parent */
        text-decoration: none; /* Remove underline for styling */
        color: inherit; /* Inherit color to keep styling consistent */
    }

    img {
        width: 100%; /* Fill the circular card */
        height: 100%; /* Fill the circular card */
        object-fit: cover; /* Ensure the image covers the entire circular area */
        border-radius: 50%; /* Ensure the image is circular */
        //background-color: #FF6F20; /* Orange background for visibility */
        background: radial-gradient(circle, $color-highlight 0%, $color-text-contrast 100%);
    }
}


.ui.card .circular-card:hover {
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.language-badges {
    position: relative; /* Required for positioning the inner border */
    padding-bottom: 10px; /* Add padding to create space for the inner border */
    box-shadow: inset 0 -2pt 0 0 $color-secondary;
    flex-direction: row;
}

.education-badges {
    position: relative; /* Required for positioning the inner border */
    padding-bottom: 10px; /* Add padding to create space for the inner border */
    box-shadow: inset 0 -2pt 0 0 $color-text-contrast;
    flex-direction: row;
}

.certification-badges {
    position: relative;
    padding-bottom: 10px;
    box-shadow: inset 0 -2pt 0 0 $color-highlight;
    flex-direction: row;
}

/* Experimental code */
.badge-container {
    display: flex;
    align-items: top;
    justify-content: center;
}

.circular-badge {
    width:  $circular-badge-size; /* Adjust size */
    height:  $circular-badge-size; /* Adjust size */
    border-radius: 50%; /* Circular shape */
    //border: 2px groove $color-hologram; /* Blue border */
    border-image: linear-gradient(to right, $color-electric, $color-details);
    border-image-slice: 1;
    display: flex;
    align-items: center; /* Center image vertically */
    justify-content: center;
    overflow: hidden;
    img {
        width: 100%; /* Adjust image size to fill badge */
        height: 100%; /* Maintain aspect ratio */
        border-radius: 50%;
        object-fit: cover;
    }
    top: 0;
    flex-shrink: 0;
    flex-grow: 0;
}

.connection-line {
    width: 100%;
    height: 2pt;
    background: linear-gradient(90deg,  $color-details, $color-electric 40%, $color-hologram);
    background-size: 200% 100%;
    animation: glow 2s linear infinite;
    margin-top: calc($circular-badge-size/2);
}

.text-box::before {
    content: ""; /* No actual text */
    display: block;
    width: 0;
    height: 0;
    border-left: 0.625rem solid transparent; /* Adjust width for the triangle */
    border-right: 0.625rem solid transparent;
    border-top: 0.625rem solid $flash-white; /* Triangle color */
    position: absolute;
    top: 0rem;
    right:0.2rem;
}

.text-box {
    // atmospheric -- linear-gradient(0deg,  $color-details, $color-electric, $color-contrast);
    background: linear-gradient(0deg,  rgba-color($color-details, 0.5), rgba-color($color-electric, 0.5), $color-hologram);
    backdrop-filter: blur(3px);
    padding: 10px; /* Padding inside the text box */
    border: 1px solid $color-hologram;
    border-radius: 5px;
    color: $color-primary;
    font-family: $font-orbitron;
    font-weight: 300;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 43rem;

    p {
        font-family: $font-orbitron;
        color: #C0392B;
    }
}

.text-box:hover {
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.8);
    p {
        font-weight: bold;
    }
}

/* Inner div styling (hidden by default) */
.text-box .inner {
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition */
    //position: absolute;
    //top: 100%; /* Position below the outer div */
    left: 0;
    width: 100%;
    padding: 10px;
    color: $color-holo-contrast;
    visibility: collapse;
    display: none;
    font-family: $font-roboto;
    max-height: 30rem; /* Set the maximum height */
    overflow-y: auto; /* Enables vertical scrolling if content exceeds max height */
}

@media (max-width: 768px) {
    .text-box {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .text-box {
        max-width: 100%; /* For phones, use the full screen width */
        padding: 15px; /* Optional: add a bit more padding for smaller screens */
    }
}

/* Show inner div when outer div is hovered */
.text-box:hover .inner {
    opacity: 1;
    visibility: visible;
    display: block;
}

/* scifi animations */
@keyframes glow {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

@keyframes expand {
    from {
        opacity: 10%;
        height: 0%;
    }
    to {
        opacity: 100%;
        height: 100%;
    }
}

/* Project Styles */
.project-img {
    width: 100%;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    background-color: rgba-color($color-primary, 1); /* Deep blue for footer */
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .hero-heading {
        font-size: 1.2rem;
    }

    .ui.button {
        padding: 0.5rem 1rem;
    }
}

/* Responsive margin for larger screens */
@media (min-width: 300px) {
    .flex-item {
        margin-bottom: calc(1.25rem + 10%); /* Allows for the spacing to grow */
    }
}
