@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&family=Source+Code+Pro:wght@400;700&family=Roboto:wght@400;500;700&family=Raleway:wght@400;700&display=swap');

$font-plex: 'IBM Plex Sans', sans-serif;
$font-code: 'Source Code Pro', monospace; // Adjust as needed
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$color-primary: #1B263B;  /* Deep blue */
$color-secondary: #4B586E; /* Light blue */
$color-background: #f1f1f1; /* Light grey */
$color-contrast: #FFAA00;   /* Warm yellow/orange */
$color-highlight: #FF6F20;  /* Warm orange */
$color-text-contrast: #C0392B; /* Deep warm red */
$color-text: #333;          /* Dark grey for text */

$circular-card-size: 9rem; 

/* Renamed the function to avoid conflict */
@function rgba-color($color, $alpha) {
    @return rgba(color.channel($color, "red", $space: rgb),
                 color.channel($color, "green", $space: rgb),
                 color.channel($color, "blue", $space: rgb),
                 $alpha);
}

h1 {
    font-family: $font-raleway;
    font-weight: 700; // Bold for headings
}

h2, h3 {
    font-family: $font-roboto;
    font-weight: 500; // Semi-bold for subheadings
}

h4, h5, h6 {
    font-family: $font-roboto;
    font-weight: 400; // Regular for low-level subheadings 
}

p, li {
    font-family: $font-plex;
    font-weight: 400; // Regular for body text
}

code, pre {
    font-family: $font-code;
    font-weight: 400; // Regular for code snippets
    background-color: #f5f5f5; // background for code
    padding: 4px 8px; // padding for code
    border-radius: 4px; // rounded corners
}

:root { background-attachment: fixed; }

body {
    font-family: $font-plex;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: $color-text;
    background-color: $color-primary;
    background: url('../images/GEM-background.webp') no-repeat center center fixed; /* Fixed background */
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

html, body {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 1.25rem;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.container {
    background-color:  rgba-color($color-background, 0);
}

.flex-item {
    flex-grow: 1;
    margin-bottom: 1.25rem; 
    width: auto;
    max-width: 100%;
}

.flex-item:last-child {
    margin-bottom: 0.5rem; 
}

/* Header Styles */
.header {
    background-color: rgba-color($color-primary, .7); /* Deep blue for header */
    color: $color-contrast;
    padding: 20px 0;
    text-align: center;
    .header.item {
        font-size: 2rem; /* Custom font size for the title */
        font-weight: bold;
    }

    .item {
        color: greenyellow; /* Ensures links are white */
        padding: 15px; /* Custom padding for menu items */
    }
}

.header .metaltext {
    font-size: 2rem;
    font-weight: bold;
}

/* Hero Section Styles */
.hero {
    padding: 50px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 1); /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.hero-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Button Styles */
.ui.button {
    background-color: rgba-color($color-primary, 1);
    color: white;
    border-radius: 5px;
}

.ui.button:hover {
    background-color: rgba-color($color-secondary, 0.8);
}

/* Section Styles */
.section {
    padding: 40px 20px;
    background: rgba-color($color-background, 0.6);
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 20px;
}

.ui.card {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text within the card */
    margin: 1rem; /* Breathing space around cards */
}

.ui.card .circular-card {
    width: $circular-card-size; /* Set the desired size */
    height: $circular-card-size; /* Set the desired size */
    overflow: hidden; /* Hide overflow */
    display: flex; /* Center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    transition: box-shadow 0.3s ease; /* Animate shadow on hover */
    margin: 1rem; /* Breathing space around cards */
    flex-direction: column;
    background-color: #4B586E;
}

.ui.card .circular-card {
    border-radius: 50% !important; /* Ensures the circular shape is applied */
}


.ui.card .circular-card:hover {
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

// .ui.card>:first-child .circular-card, .ui.cards>.card>:first-child .circular-card {
//     border-radius: 50% !important;
// }

/* Ensuring the image is circular and centered */
.ui.card .circular-card img {
    width: 100%; /* Fill the circular card */
    height: 100%; /* Fill the circular card */
    object-fit: cover; /* Ensure the image covers the entire circular area */
    border-radius: 50%; /* Ensure the image is circular */
    //background-color: #FF6F20; /* Orange background for visibility */
    background: radial-gradient(circle, $color-highlight 0%, $color-text-contrast 100%);
}

.language-badges {
    position: relative; /* Required for positioning the inner border */
    padding-bottom: 10px; /* Add padding to create space for the inner border */
    box-shadow: inset 0 -2pt 0 0 $color-secondary;
    flex-direction: row;
}

.education-badges {
    position: relative; /* Required for positioning the inner border */
    padding-bottom: 10px; /* Add padding to create space for the inner border */
    box-shadow: inset 0 -2pt 0 0 $color-text-contrast;
    flex-direction: row;
}

/* Add your existing animations */
@keyframes expand {
    from {
        opacity: 10%;
        height: 0%;
    }
    to {
        opacity: 100%;
        height: 100%;
    }
}

/* Project Styles */
.project-img {
    width: 100%;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    background-color: rgba-color($color-primary, 1); /* Deep blue for footer */
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .hero-heading {
        font-size: 1.2rem;
    }

    .ui.button {
        padding: 0.5rem 1rem;
    }
}

/* Responsive margin for larger screens */
@media (min-width: 300px) {
    .flex-item {
        margin-bottom: calc(1.25rem + 10%); /* Allows for the spacing to grow */
    }
}
