
$darkGray: #33363b;
$golden: rgb(255,242,181);
$non-skeleton-size: 160%;
$pill-width: 10pt;
// this is messy
$footer-height: 51pt;
$footer-height-mobile: 36pt;
$short-animation: 3s;
$medium-animation: 5s;

// displaying on phones AND very large screens is still pretty messed up, even for such a simple site
html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  font-family: Lato, Arial, sans-serif;
  background-color: lightgrey;
  width: 100%;
  display: table-cell;
}

html, body {
  margin: 0pt;
  padding: 0;
}

.attention {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

header {
  background-color: $darkGray;
  font-family: Underground, Arial, sans-serif;
	text-transform: bold;
  font-size: $non-skeleton-size;
	color: rgb(255,242,181);
	text-align: center;
	letter-spacing: .5rem;
  border-radius: 0pt 0pt 10pt 10pt;

  p {
    animation-duration: 3s;
    animation-name: slidein;
  }
}

// small screens and large screen + old browsers: we need a hack based on a "body container" to keep our footer at the bottom
.body {
  min-height: 100%;
  position: relative;
}
.expand {
  animation-duration: $short-animation;
  animation-name: expand;
  animation-timing-function: ease-in-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running; 
}

.section {
  padding-top: 40pt;
}

.main {
  padding-top: 3pt;
  font-family: Underground, Arial, sans-serif;
	font-size: 1rem;
	color: $darkGray;
	text-align: center;
  background-color: #aab0b9;
  width: 60%;
  margin: 0 auto;
  border-radius: 3pt;
}

.giphy-embed {
  border-radius: 3pt;
}
.page-content {
  top: 0pt;
  margin-top: 10pt;
}
// Large iPhones are 1242 px wide
@media screen and (max-width: 1242px) {
  footer {
    font-size: inherit;
    height: $footer-height;
  }
  .page-content {
    bottom: $footer-height;
  }
}
@media screen and (min-width: 1243px) {
  footer {
    font-size: $non-skeleton-size;
    height: $footer-height-mobile;
  }
  .page-content {
    bottom: $footer-height-mobile;
  }
}

footer {
  position: relative;
  bottom: 0pt;
  width: 100%;
  text-align: center;
  background-color: $darkGray;
  font-family: Underground, Arial, sans-serif;
	color: $golden;
	text-align: center;
	letter-spacing: .5rem;
  border-radius: 10pt 10pt 0pt 0pt;
  ul {
    list-style-type: none;
    padding:0;
    overflow: hidden;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2pt;
    li {
      margin: auto;
      padding:5px;
      float: left;
      a {
        border: 5pt;
        padding: 2pt;
        border-radius: 5pt 5pt 5pt 5pt;
        background-color: #bdd4e7;
        text-decoration: none;
        color: $darkGray;
      }

      a:hover {
        border: 1pt solid whitesmoke;        
        padding: 1pt;
        color:lightgrey;
        background-color: $darkGray;
      }
    }
    li:last-child {
      right: 5pt;
      position: absolute;
    }
  }
}

.plastic {
  background-color: #33363b;
  background-image: linear-gradient(0deg, #33363b 0%, #b7c3d8 74%);
}
.steel {
  background-color: #33363b;
  background-image: linear-gradient(90deg, #33363b 0%, #b7c3d8 74%);
}

.loaderbar {
  width: 100%;
}
// https://simurai.com/lab/2011/08/21/brushed-metal ---> put this in an imported file for proper attribution

.metaltext {
  padding: 10pt;
	font-family: Underground, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	color: rgb(255,242,181);
	background-image: linear-gradient(rgb(255,242,181) 28%, 
		rgb(77,77,77) 40%,
		rgb(255,242,181) 54%);
	text-align: center;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	letter-spacing: .5rem;
}

.silver {
  color: silver;
  letter-spacing: initial;
}

.lightball {
  border-radius: 5pt;
  background-color: #32b1e4;
  animation-duration: $medium-animation;
  animation-name: cylon;
  animation-timing-function: ease-in-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  position: relative;
  height:5pt;
  width: $pill-width;
}
// effects

.rotateEmphasis:hover {
  display: inline-block;
  // you cannot rotate text, but you can rotate their container
  transform: rotateX(180deg);
}
// animations
@keyframes expand {
  from {
    opacity: 10%;
    height: 0%;
  }

  to {
    opacity: 100%;
    height: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes cylon {
  0% {
        opacity:1.0;
        left: 0pt;
        right:100%;
  }

  50% {
        opacity:0.5;
  }

  100% {
        opacity:1.0;
        right: 0pt;
        left: calc(100% - #{$pill-width});
  }
}

