
$darkGray: #33363b;
$golden: rgb(255,242,181);
$non-skeleton-size: 160%;
$pill-width: 10pt;

body {
  margin: 0pt;
  font-family: Lato, Arial, sans-serif;
  background-color: lightgrey;
}

.attention {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

header {
  background-color: $darkGray;
  font-family: Underground, Arial, sans-serif;
	text-transform: bold;
  font-size: $non-skeleton-size;
	color: rgb(255,242,181);
	text-align: center;
	letter-spacing: .5rem;
  border-radius: 0pt 0pt 10pt 10pt;
}

.main {
  padding-top: 3pt;
  font-family: Underground, Arial, sans-serif;
	font-size: 1rem;
	color: $darkGray;
	text-align: center;
  background-color: #aab0b9;
  width: 60%;
  margin: 0 auto;
  border-radius: 3pt;
}

.giphy-embed {
  border-radius: 3pt;
}

// Large iPhones are 1242 px wide
@media screen and (max-width: 1242px) {
  footer {
    font-size: inherit;
  }
}
@media screen and (min-width: 1243px) {
  footer {
    font-size: $non-skeleton-size;
  }
}

footer {
  position: absolute;
  bottom: 0pt;
  width: 100%;
  text-align: center;
  background-color: $darkGray;
  font-family: Underground, Arial, sans-serif;
	color: $golden;
	text-align: center;
	letter-spacing: .5rem;
  border-radius: 10pt 10pt 0pt 0pt;
  ul {
    list-style-type: none;
    padding:0;
    overflow: hidden;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    li {
      margin: auto;
      padding:5px;
      float: left;
      a {
        border: 5pt;
        padding: 2pt;
        border-radius: 5pt 5pt 5pt 5pt;
        background-color: #bdd4e7;
        text-decoration: none;
        color: $darkGray;
      }

      a:hover {
        border: 1pt solid whitesmoke;        
        padding: 2pt;
        color:lightgrey;
        background-color: $darkGray;
      }
    }
    li:last-child {
      right: 5pt;
      position: absolute;
    }
  }
}

.plastic {
  background-color: #33363b;
  background-image: linear-gradient(0deg, #33363b 0%, #b7c3d8 74%);
}
.steel {
  background-color: #33363b;
  background-image: linear-gradient(90deg, #33363b 0%, #b7c3d8 74%);
}

.loaderbar {
  width: 100%;
}
// https://simurai.com/lab/2011/08/21/brushed-metal ---> put this in an imported file for proper attribution

.metaltext {
  padding: 10pt;
	font-family: Underground, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	color: rgb(255,242,181);
	background-image: linear-gradient(rgb(255,242,181) 28%, 
		rgb(77,77,77) 40%,
		rgb(255,242,181) 54%);
	text-align: center;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	letter-spacing: .5rem;
}

.silver {
  color: silver;
  letter-spacing: initial;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

.lightball {
  border-radius: 5pt;
  background-color: #32b1e4;
  animation-duration: 5s;
  animation-name: cylon;
  animation-timing-function: ease-in-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  position: relative;
  height:5pt;
  width: $pill-width;
}
// effects

.rotateEmphasis:hover {
  display: inline-block;
  // you cannot rotate text, but you can rotate their container
  transform: rotateX(180deg);
}
// animations

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes cylon {
  0% {
  	opacity:1.0;
        left: 0pt;
  }

  50% {
  	opacity:0.5;
  }

  100% {
	opacity:1.0;
        left: calc(100% - $pill-width);
  }
}
