.portrait {
    height: 350px;
    width: 350px;
    border-radius: 5pt;
    border:blanchedalmond 1pt;
}

.project-img {
    max-height: 300pt;
    max-width: 100pt;
    border-radius: 5pt;
    border: transparent 1pt;
}