@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Regular.ttf") format("ttf");
   }
  
@font-face {
    font-family: "underground";
    src: url("assets/fonts/underground/UndergroundNF.ttf") format("ttf");
   }